@{ ViewBag.Title = "Forgot Password Confirmation"; }
<body style="background-image: url(../../Assets/quartz_block.jpeg); background-repeat:repeat;">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

